*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    float: left;
    background-color:rgba(255, 255, 255, 0.3);
    margin: 30px;
    padding: 10px;
    max-width: 500px;
}

header{
        /* background-color: aliceblue; */
        padding: 10px;
        text-align: center;
    }

    header #avatar{
        padding: 10px;
        width: 200px;
        border-radius: 50%;
        border-style: solid;
        border-color: chocolate;
    }

    header ul{
        list-style: none;
    }

    header ul li{
        display: inline-block;
    }

    header ul .icon-social{
        padding-top: 30px;
        width: 50px;
    }

        .icon-social:hover{
            opacity: 0.8;
        }

footer{
    background-color: white;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}