/* INSPIRATION FOR MY HEADER from Creative Commons Attribution 3.0 Unported
http://creativecommons.org/licenses/by/3.0/ */

/* imports */
@import url('https://fonts.googleapis.com/css?family=Baumans|Viga&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    background: url("../images/bg-wallpaper.gif");
    margin: 50px 60px 400px 550px;
}

    #fixed-image{ 
        position: fixed;
        left: 0;
        width: 550px;
    }

    p, h3, h4{
        font-family: 'Baumans', cursive;
    }

    p{
        font-size: 14px;
    }

div{
    margin-top: 10px;
    padding: 20px;
}

#header{
    border-top: 5px solid rgb(240, 255, 255);
    border-bottom: 5px solid rgb(240, 255, 255);
    text-align: center;
}

    #avatar{
        width: 150px;
        border-radius: 50%;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        border-width: 2px;
    }

    .social{
        padding-top: 20px;
        width: 40px;
    }

        .social:hover{
            opacity: 0.5;
        }

    h1, #nav-bar{
        font-family: 'Viga', sans-serif;
    }


.content{
    background-color: rgba(240, 255, 255, 0.3);
    float: left;
}